@model BookShopTmp.Models.Translator
@{
    ViewData["Title"] = "Delete";
}

<div class="row text-right" style="direction:rtl">
    <h4>آیا می خواهید <span> @Model.Name  @Model.Family را از لیست مترجمان حذف کنید ؟ </span> </h4>

    <form asp-action="DoDelete">
        <input type="hidden" value="@Model.TranslatorId" name="id" />
        <input type="submit" value="بله" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">خیر</a>
    </form>

</div>